[Unit]
Description=DGTCentaurMods software.
After=network.target

#[Service]
#Environment=PYTHONUNBUFFERED=1
#ExecStartPre=/bin/sleep 4
#ExecStart=python3 game/menu.py
#WorkingDirectory=/opt/packages/DGTCentaurMods
#Environment="PYTHONPATH=/opt/packages"
#StandardOutput=file:/var/log/modmenuoutput.log
#StandardError=file:/var/log/modmenuoutput.log
#Restart=no
#User=pi

[Service]
Environment=DGTCM_PATH=/opt/packages/DGTCentaurMods
ExecStart=/opt/packages/DGTCentaurMods/.venv/bin/python game/menu.py
# or: ExecStart=/opt/packages/DGTCentaurMods/.venv/bin/python /opt/packages/DGTCentaurMods/game/menu.py
WorkingDirectory=/opt/packages/DGTCentaurMods
Restart=on-failure

[Install]
WantedBy=multi-user.target
