[Unit]
Description=Power off DGT controller.
DefaultDependencies=no
Conflicts=reboot.target
Before=poweroff.target halt.target shutdown.target
Requires=poweroff.target

[Service]
ExecStart=/usr/bin/python3.14 board/shutdown.py
Environment="PYTHONPATH=/opt"
WorkingDirectory=/opt
Type=oneshot

[Install]
WantedBy=shutdown.target

