.*
__pycache__
**/7-Zip
**/*.msi
**/*.msi*.log
**/centaur.tar.gz
**/Win32DiskImager-1.0.0-binary.zip
**/raspberryPi_imager_latest.exe
**/RaspberryPi_imager
**/Win32DiskImager
**/centaur.img
**/.toggled
**/build
