/**
 * App-level styles
 */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  flex: 1;
}

.footer strong {
  color: #363636;
}

.footer a {
  color: #aa44aa;
}

.footer a:hover {
  color: #8a3490;
}
