{% extends "base.html" %}

{% block mainpage %}

<div style="width:100%">
    <div id="support-content">
        <article class="panel is-info">
            <p class="panel-heading">
                Get Help
            </p>
            <div class="panel-block">
                <div class="content">
                    <p>Universal Chess is an open source project. There are several ways to get help and contribute:</p>
                </div>
            </div>
            <div class="panel-block">
                <div class="content" style="width: 100%;">
                    <h4>GitHub Repository</h4>
                    <p>The source code, documentation, and issue tracker are all on GitHub:</p>
                    <a href="https://github.com/adrian-dybwad/Universal-Chess" target="_blank" rel="noopener" class="button is-info">
                        View on GitHub
                    </a>
                </div>
            </div>
        </article>
        
        <article class="panel is-info">
            <p class="panel-heading">
                Report Issues
            </p>
            <div class="panel-block">
                <div class="content" style="width: 100%;">
                    <p>Found a bug or have a feature request? Open an issue on GitHub:</p>
                    <a href="https://github.com/adrian-dybwad/Universal-Chess/issues/new" target="_blank" rel="noopener" class="button is-warning">
                        Report an Issue
                    </a>
                </div>
            </div>
            <div class="panel-block">
                <div class="content" style="width: 100%;">
                    <h4>Open Issues</h4>
                    <p>Check existing issues to see if your problem is already being addressed:</p>
                    <a href="https://github.com/adrian-dybwad/Universal-Chess/issues" target="_blank" rel="noopener" class="button">
                        View All Issues
                    </a>
                </div>
            </div>
        </article>
        
        <article class="panel is-info">
            <p class="panel-heading">
                Contributing
            </p>
            <div class="panel-block">
                <div class="content" style="width: 100%;">
                    <p>Contributions are welcome! Whether it's code, documentation, or testing:</p>
                    <ul>
                        <li>Fork the repository</li>
                        <li>Create a feature branch</li>
                        <li>Submit a pull request</li>
                    </ul>
                    <a href="https://github.com/adrian-dybwad/Universal-Chess/pulls" target="_blank" rel="noopener" class="button is-success">
                        View Pull Requests
                    </a>
                </div>
            </div>
        </article>
        
        <article class="panel is-info">
            <p class="panel-heading">
                Documentation
            </p>
            <div class="panel-block">
                <div class="content" style="width: 100%;">
                    <p>Looking for setup instructions, configuration guides, or API documentation?</p>
                    <a href="https://github.com/adrian-dybwad/Universal-Chess#readme" target="_blank" rel="noopener" class="button">
                        Read the Docs
                    </a>
                </div>
            </div>
        </article>
        
        <article class="panel is-info">
            <p class="panel-heading">
                Version Information
            </p>
            <div class="panel-block">
                <div class="content" style="width: 100%;">
                    <table class="table" style="background: transparent; color: inherit;">
                        <tbody>
                            <tr>
                                <td><strong>Project</strong></td>
                                <td>Universal Chess</td>
                            </tr>
                            <tr>
                                <td><strong>License</strong></td>
                                <td>GNU General Public License v3.0</td>
                            </tr>
                            <tr>
                                <td><strong>Repository</strong></td>
                                <td><a href="https://github.com/adrian-dybwad/Universal-Chess" target="_blank">github.com/adrian-dybwad/Universal-Chess</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</div>

<script>
    window.onload = function () {
        hideLastPGN();
        hideLastGames();
    }
</script>

{% endblock %}
